<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Flask App - {{ title }}</title>
    {% else %}
        <title>Flask App</title>
    {% endif %}
</head>
<body>
    <h1>What a Manager can do?</h1>

    <p align="center"><a href=addUser ><button class=grey 
        style="height:75px;width:150px">Add User</button></a></p>
    <p align="center"><a href=req3Affinity ><button class=grey 
        style="height:75px;width:150px">Update Affinity</button></a></p>
    <p align="center"><a href=req3Drug ><button class=grey 
        style="height:75px;width:150px">Delete Drug</button></a></p>
    <p align="center"><a href=req4Prot ><button class=grey 
        style="height:75px;width:150px">Delete Protein</button></a></p>
    <p align="center"><a href=managerSeeUsers ><button class=grey 
        style="height:75px;width:150px">See Users</button></a></p> 
    <p align="center"><a href=managerSeeDrugs ><button class=grey 
        style="height:75px;width:150px">See Drugs</button></a></p>      
    <p align="center"><a href=managerSeeProteins ><button class=grey 
        style="height:75px;width:150px">See Proteins</button></a></p> 
    <p align="center"><a href=managerSeeSiders ><button class=grey 
        style="height:75px;width:150px">See Side Effects</button></a></p> 
    <p align="center"><a href=managerSeePapers ><button class=grey 
        style="height:75px;width:150px">See Papers</button></a></p> 
    <p align="center"><a href=managerSeeBindings ><button class=grey 
        style="height:75px;width:150px">See Bindings</button></a></p> 
    <p align="center"><a href=req5insertUser ><button class=grey 
        style="height:75px;width:150px">Insert a User to a paper</button></a></p> 
    <p align="center"><a href=req5deleteUser ><button class=grey 
        style="height:75px;width:150px">Delete a User from a paper</button></a></p>   
                            
</body>
</html>