<html>
  <head>
    <title> Manager Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please provide a reaction id and the neccessary info's of a user for deletion</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="reaction_id" name="reaction_id" value="{{
          request.form.reaction_id }}">
        <input type="text" placeholder="username" name="username" value="{{
            request.form.username }}">
            <input type="text" placeholder="password" name="password" value="{{
              request.form.password }}">
              <input type="password" placeholder="name" name="name" value="{{
                request.form.name }}">
        
        <input class="btn btn-default" type="submit" value="Update">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>