<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Flask App - {{ title }}</title>
    {% else %}
        <title>Flask App</title>
    {% endif %}
</head>
<body>
    <h1>What a User can do?</h1>

    <p align="center"><a href=userInteractionofaDrug ><button class=grey 
        style="height:75px;width:150px">Interactions of a Drug</button></a></p>

    <p align="center"><a href=userdrugSideEffects ><button class=grey 
        style="height:75px;width:150px">A Drug's Side Effects</button></a></p>

   <p align="center"><a href=userTargetsforSpecDrug ><button class=grey 
        style="height:75px;width:150px">Interacting Targets of a Drug</button></a></p>      

  <p align="center"><a href=userInteractingDrugsforSpecProt ><button class=grey 
        style="height:75px;width:150px">Interacting Drugs for Specific Protein</button></a></p>                     
</body>
</html>