<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Flask App - {{ title }}</title>
    {% else %}
        <title>Flask App</title>
    {% endif %}
</head>
<body>
    <h1>What a User can do?</h1>
    <p align="center"><a href=userSeeDetailedDrug ><button class=grey 
      style="height:75px;width:150px">View Drug Information Detailly</button></a></p>   

    <p align="center"><a href=userInteractionofaDrug ><button class=grey 
        style="height:75px;width:150px">View Interactions of a Drug</button></a></p>

    <p align="center"><a href=userdrugSideEffects ><button class=grey 
        style="height:75px;width:150px">View A Drug's Side Effects</button></a></p>

   <p align="center"><a href=userTargetsforSpecDrug ><button class=grey 
        style="height:75px;width:150px">View Interacting Targets of a Drug</button></a></p>      

  <p align="center"><a href=userInteractingDrugsforSpecProt ><button class=grey 
        style="height:75px;width:150px">View Interacting Drugs for Specific Protein</button></a></p> 

  <p align="center"><a href=user13 ><button class=grey 
        style="height:75px;width:150px">View Drugs that Affect The Same Protein</button></a></p>     
          
  <p align="center"><a href=user14 ><button class=grey 
        style="height:75px;width:150px">View Proteins that Bind the Same Drug</button></a></p>    

  <p align="center"><a href=user15 ><button class=grey 
        style="height:75px;width:150px">View Drugs that Have a Specific Side Effect </button></a></p> 

  <p align="center"><a href=user16 ><button class=grey 
        style="height:75px;width:150px">View the Drugs Containing a keyword in their Descriptions</button></a></p> 

  <p align="center"><a href=user17 ><button class=grey 
        style="height:75px;width:150px">View the Drug(s) with Least Amount of Side Effects</button></a></p>   

<p align="center"><a href=userSeePapers ><button class=grey 
      style="height:75px;width:150px">View Papers</button></a></p>   

<p align="center"><a href=userSeeRankings ><button class=grey 
      style="height:75px;width:150px">View Institution Rankings</button></a></p>   

<p align="center"><a href=userSeeFilteredTargets ><button class=grey 
      style="height:75px;width:150px">View Filtered Targets</button></a></p>   
      


</body>
</html>