<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Flask App - {{ title }}</title>
    {% else %}
        <title>Flask App</title>
    {% endif %}
</head>
<body>
    <h1>What a User can do?</h1>
    <p align="center"><a href=userSeeDetailedDrug ><button class=grey 
      style="height:75px;width:150px">See Drug Information Detailly</button></a></p>   

    <p align="center"><a href=userInteractionofaDrug ><button class=grey 
        style="height:75px;width:150px">Interactions of a Drug</button></a></p>

    <p align="center"><a href=userdrugSideEffects ><button class=grey 
        style="height:75px;width:150px">A Drug's Side Effects</button></a></p>

   <p align="center"><a href=userTargetsforSpecDrug ><button class=grey 
        style="height:75px;width:150px">Interacting Targets of a Drug</button></a></p>      

  <p align="center"><a href=userInteractingDrugsforSpecProt ><button class=grey 
        style="height:75px;width:150px">Interacting Drugs for Specific Protein</button></a></p> 

  <p align="center"><a href=user13 ><button class=grey 
        style="height:75px;width:150px">Req 13</button></a></p>     
          
  <p align="center"><a href=user14 ><button class=grey 
        style="height:75px;width:150px">Req 14</button></a></p>    

  <p align="center"><a href=user15 ><button class=grey 
        style="height:75px;width:150px">Req 15</button></a></p> 

  <p align="center"><a href=user16 ><button class=grey 
        style="height:75px;width:150px">Req 16</button></a></p> 

  <p align="center"><a href=user17 ><button class=grey 
        style="height:75px;width:150px">Req 17</button></a></p>   

<p align="center"><a href=userSeePapers ><button class=grey 
      style="height:75px;width:150px">See Papers</button></a></p>   

<p align="center"><a href=userSeeRankings ><button class=grey 
      style="height:75px;width:150px">See Rankings</button></a></p>   

<p align="center"><a href=userSeeFilteredTargets ><button class=grey 
      style="height:75px;width:150px">See Filtered Targets</button></a></p>   
      


</body>
</html>